@font-face {
	font-family: 'Arial Rounded';
	src: url('/assets/fonts/ArialRoundedBold.ttf') format("truetype");
	font-weight: bold;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arial Rounded';
	color: #1f7795;
	margin: 0;
	font-weight: 400;
	line-height: 1.2;
}

.subtitle {
	font-family: 'Open Sans';
	font-weight: 600;
	line-height: 1.2;
}

.box-benefice {
	height: 280px;
	text-align: center;
	margin: 0;
	padding: 70px;
}

.box-benefice img {
	margin-bottom: 10px;
}

.box-benefice p {
	line-height: 1.2;
	color: #287e9a;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
}

.box-benefice.other {
	padding: 50px;
	text-align: left;
}
.box-benefice.other p {
	font-family: 'Open Sans'; 
	font-weight: 600; 
	color: #1fe4c1; 
	font-size: 28px; 
	font-style: italic; 
	line-height: 1.2;
}
.box-benefice.other img {
	margin-bottom: 0;
}

.box-benefice.small img {
	margin-top: 15px;
}

.box-benefice:nth-child(1) {
	border-top: 1px solid rgba(238, 246, 247, 1);
	border-bottom: 1px solid rgba(238, 246, 247, 1);
	border-right: 1px solid rgba(238, 246, 247, 1);
}

.box-benefice:nth-child(2) {
	border-top: 1px solid rgba(238, 246, 247, 1);
	border-bottom: 1px solid rgba(238, 246, 247, 1);
}

.box-benefice:nth-child(3) {
	border-right: 1px solid rgba(238, 246, 247, 1);
	border-bottom: 1px solid rgba(238, 246, 247, 1);
}
.box-benefice:nth-child(4) {
	border-bottom: 1px solid rgba(238, 246, 247, 1);
}

#oeuvres-falret {
	background: #499baa;
	text-align: center;
	max-width: 100%;
}

#comment, #benefice {
	padding-bottom: 0;
}

#benefice > h2 {
	margin-top: 20px;
	margin-bottom: 40px;
}

#header {
	padding-top: 40px;
}

#video-header {
	width: 100%;
	height: 80vh;
}
.container-box-actions {
	text-align: center; 
	position: relative;
}

.text-box-actions {
	font-family: 'Open Sans';
	padding-top: 30px;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
	padding-left: 70px;
	padding-right: 70px;
}

.box-actions {
	padding: 0;
	height: 450px;
}

#arrow {
	position: absolute; 
	top: 0;
}

.box-in-actions {
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/OF-lp-noel-2016/img-action-2.png'); 
	background-size: cover; 
	background-position: bottom; 
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

.box-actions.un {
	padding-top: 100px;
	padding-bottom: 50px;
	background: #1fe4c1;
}

.box-actions.deux {
	background: #ffbf42;
}

.block-title {
	margin: 15px;
}

.text-of {
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1c5061;
}

.text-of.title {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
}

.open-sans-700 {
	font-family: 'Open Sans';
	font-weight: 700;
}

.white {
	color: white;
}

.box-don {
	border: 1px solid rgba(31, 119, 149, 0.4);
	border-radius: 5px;
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;
	max-width: 700px;
	max-height: 200px;
}

.space {
	margin-top: 20px;
}

.border-center { 
	width: 100%;
	position: relative;
}

.border-center:before { 
	content: '';
	position: absolute;
	bottom: 50%;
	border-bottom: 1px white solid;
	right: 130px;
	width: 200px;
}
.chiffre-don {
	display: inline-block;
	font-size: 80px;
	line-height: 0.8;
	font-weight: 600;
}

.euro {
	font-weight: 600;
	line-height: 0.5;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px !important;
	font-size: 40px;
}

.text-don {
	color: #1f7795;
	font-family: 'Open Sans';
	margin: 0;
}

.text-don.description {
	font-size: 19px;
	line-height: 1.1;
}

.text-deduction {
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 600;
}
.text-deduction.other {
	text-align: left; 
	margin-top: 5px;
}

.border-center:after { 
	content: '';
	position: absolute;
	bottom: 50%;
	border-bottom: 1px white solid;
	left: 130px;
	width: 200px;
}

.block-of {
	padding: 20px;
}

.block-of img {
	margin-bottom: 10px;
}

.border-left-of {
	border-left: 1px solid white;
}

#slide-don
{
	background-color: #fe8900;
}

#slide-isol, #slide-besoins
{
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 40px;
}
#slide-isol
{
	background-color: #ebf6f3;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/OF-lp-noel-2016/img-teeths-white.png');
}
#slide-besoins
{
	background-color: white;
	background-image: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/OF-lp-noel-2016/img-teeths-orange.png');
}
#slide-besoins > img
{
	margin: 30px;
}
#slide-isol > h2
{
	margin-right: 20px;
	margin-left: 20px;
	max-width: 700px;
	text-transform: uppercase;
	line-height: 1.2;
	display: inline-block;
	color: #1f7795;
	font-weight: 500;
	margin-bottom: 10px;
}

#slide-gp {
	border-bottom: 1px solid rgba(238, 246, 247, 1);
}

#slide-gp > h2, #slide-gp > h3
{
	line-height: 1.2;
	margin-bottom: 0px;
	font-family: 'Arial Rounded';
	font-weight: bold;
}

#slide-gp > h2
{
	color: #f8a34a;
	text-transform: uppercase;
}

#slide-gp > h3
{
	color: #7fbcc3;
	margin-bottom: 30px;
}
#slide-projet
{
	background-color: #f89c3e;
}
#slide-projet > *
{
	margin: 5px;
}
#slide-projet > img
{
	margin-bottom: 10px;
}
#slide-projet > div > button
{
	width: 100% !important;
	margin-bottom: 10px;
	display: block;
	font-family: "Open Sans";
	font-weight: 500;
}
#slide-projet > div > button:first-child
{
	font-size: 22px;
}
#slide-projet > div > button:nth-child(2)
{
	font-size: 15px;
	border-color: #fe8900;
}
.slide-chart
{
	display: inline-block;
	width: 100%;
	background: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/OF-lp-noel-2016/img-curve.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.box-consequence
{
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

.box-consequence > p
{
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	font-weight: 500;
	position: absolute;
	top: 45px;
	right: 0;
	left: 0;
}

.slide
{
	padding: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.button
{
	border: none;
	outline: none;
	box-shadow: none;
	background: none;
	font-size: 18px;
	margin: 0px;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	text-transform: uppercase;
	transition: all .3s ease;
	cursor: pointer;
}

.btn-custom {
	width: 200px;
	height: 50px;
	background: #fe8900;
	border-radius: 5px;
	font-size: 18px;
}

.button.btn-custom:hover,
.button.btn-custom:focus {
	background: #fe8900;

}

.button:hover
{
	background: rgba(255,255,255,0.1);
}

#header > h1 {
	margin-bottom: 20px;
	font-weight: 200;
}

@media screen and (max-width: 870px) {
	.border-center:before {
		width: 100px;
	}
	.border-center:after {
		width: 100px;
	}
}

@media screen and (min-width: 1210px) {
	.border-center:before {
		width: 200px;
	}
	.border-center:after {
		width: 200px;
	}
}

@media screen and (min-width: 1010px) and (max-width: 1210px) {
	.border-center:before {
		width: 100px;
	}
	.border-center:after {
		width: 100px;
	}
}


@media screen and (max-width: 1010px) {
	.border-center:before {
		right: 100px;
	}
	.border-center:after {
		left: 100px;
	}
}

@media screen and (max-width: 640px) {
	.border-center:before,
	.border-center:after {
		border: none;
	}

	.box-benefice:nth-child(1) {
		border-top: 1px solid rgba(238, 246, 247, 1);
		border-bottom: none;
		border-right: none;
	}

	.box-benefice:nth-child(2) {
		border-top: none;
		border-bottom: none;
	}

	.box-benefice:nth-child(3) {
		border-right: none;
		border-bottom: none;
	}
	.box-benefice:nth-child(4) {
		border-bottom: 1px solid rgba(238, 246, 247, 1);
	}

	.text-deduction {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.text-deduction.other {
		text-align: center;
	}

	.box-don {
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
		max-height: 400px;
	}
}